[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
python-dotenv = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.10"
